# Firebase Functions API URL
NEXT_PUBLIC_API_URL=https://europe-west1-teknotech-app.cloudfunctions.net/api

# Firebase Config (public)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCk_zXRUaXKmVlhFX06SXFm0OUKW5f2yyo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=teknotech-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=teknotech-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=teknotech-app.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1048402475376
NEXT_PUBLIC_FIREBASE_APP_ID=1:1048402475376:web:c6810699eea9a2619977b5
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-91NSV8N24J
